<link href="/content/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/content/css/plugins/switchery/switchery.css" rel="stylesheet">
<link href="/content/css/plugins/datapicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
<div class="wrapper wrapper-content">
    <div class="row">
        <form class="form-horizontal m-t" id="gallaryForm">
            <div class="form-group">
                <label class="col-sm-3 control-label">头像：</label>
                <div class="col-sm-8">
                    <input type="hidden" id="head_portraits" name="head_portraits" value="">
                    <div class="input-group">
                        <p class="form-control-static">
                            <img class="message-avatar" id="upload_img" src="/content/img/default.png"
                                 alt="">
                        </p>
                        <span class="input-group-btn">
                                        <label class="btn btn-primary" for="file">选择文件</label>
                                        <button class="btn btn-primary" type="button" id="btnUpload"
                                                style="margin-left: 10px;">上传</button>
                                    </span>
                    </div>
                    <span class="help-block m-b-none">只能上传jpg/png格式文件，文件不能超过50kb</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>用户名：</label>
                <div class="col-sm-8">
                    <input type="text" readonly id="user_name" name="user_name" class="form-control" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>Email：</label>
                <div class="col-sm-8">
                    <input id="email" readonly name="email" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>旧密码：</label>
                <div class="col-sm-8">
                    <input id="old_pwd" name="old_pwd" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>新密码：</label>
                <div class="col-sm-8">
                    <input id="pwd" name="pwd" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color:red;">*</span>确认密码：</label>
                <div class="col-sm-8">
                    <input id="pwd_confirm" name="pwd_confirm" type="password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-3">
                    <button class="btn btn-primary" id="btnSubmit" type="button">提交</button>
                </div>
            </div>
        </form>
    </div>
    <form id="uploadFile" method="post" action="/upload_file" style="display: none;" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept="image/*">
        <input type="hidden" id="key" name="key" value="info">
    </form>
    <!-- jQuery Validation plugin javascript-->
    <script src="/content/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/content/js/plugins/validate/messages_zh.min.js"></script>
    <!-- jQuery Form plugin javascript-->
    <script src="/content/js/jquery.form.js"></script>

    <!-- Switchery -->
    <script src="/content/js/plugins/switchery/switchery.js"></script>
    <!-- iCheck -->
    <script src="/content/js/plugins/iCheck/icheck.min.js"></script>

    <!-- Data picker -->
    <script src="/content/js/plugins/datapicker/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            $.gallary = {
                init: function () {
                    var _self = this;
                    this.val();
                    this.getData();
                    $('#btnSubmit').off().on('click', function () {
                        if (_self.val().form()) {
                            _self.submit();
                        }
                    });
                    $.validator.setDefaults({
                        highlight: function (element) {
                            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                        },
                        success: function (element) {
                            element.closest('.form-group').removeClass('has-error').addClass('has-success');
                        },
                        errorElement: "span",
                        errorClass: "help-block m-b-none",
                        validClass: "help-block m-b-none"
                    });
                },
                submit: function () {
                    var _self = this;
                    var data = {
                        pass_word:$('#old_pwd').val(),
                        confirm_pass_word:$('#pwd_confirm').val(),
                        head_portraits:$('#head_portraits').val()
                    };
                    $.request("/permission/update_user_sys", data, function (res) {
                        if (res.success) {
                            toastr.success('用户设置', res.msg);
                            _self.getData();
                        }
                        else {
                            toastr.error('用户设置', res.msg);
                        }
                    });
                },
                val: function () {
                    return $("#gallaryForm").validate({
                        ignore: [],
                        rules: {
                            old_pwd: "required",
                            pwd: "required",
                            pwd_confirm: {
                                required: true,
                                equalTo: '#pwd'
                            }
                        },
                        messages: {
                            old_pwd: "请输入旧密码",
                            pwd: "请输入新密码",
                            pwd_confirm: {
                                required: "请输入确认密码",
                                equalTo: '两次密码不一致'
                            }
                        }
                    });
                },
                table: "",
                getData: function () {
                    $.getJSON("/permission/get_curr_user", {}, function (res) {
                        if (res.success) {
                            if (res.data) {
                               $('#user_name').val(res.data.username);
                                $('#email').val(res.data.email);
                                $('#head_portraits').val(res.data.head_portraits);
                                if (res.data.head_portraits) {
                                    $('#upload_img').attr('src', res.data.head_portraits);
                                }
                            }
                        }
                        $.file_upload({
                            file: "#file",
                            img: "#upload_img",
                            size: 50,
                            upload: "#btnUpload",
                            form: "#uploadFile",
                            success: function (res) {
                                if (res.success) {
                                    toastr.success("文件上传", res.msg);
                                    var data = res.data;
                                    $('#head_portraits').val(data.url);
                                } else {
                                    toastr.error("文件上传", res.msg);
                                }
                            }
                        });
                    });
                },
            }
            $(function () {
                $.gallary.init();
            });
        })(jQuery)

    </script>
</div>