<!-- Data Tables -->
<link href="/content/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/content/css/plugins/iCheck/custom.css" rel="stylesheet">
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        数据列表
                    </h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-7 m-b-xs">
                        </div>
                        <div class="col-sm-1 m-b-xs">
                            <button class="btn btn-white btn-outline" data-toggle="modal" data-target="#addModal"
                                    type="button" id="addGallary">新建相册
                            </button>
                        </div>
                        <div class="col-sm-2 m-b-xs">
                            <select class="input-sm form-control input-s-sm inline" id="length">
                                <option value="10" selected="selected">显示条数</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div class="col-sm-2 m-b-xs">

                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="dataTable">
                        <thead>
                        <tr>
                            <th>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="checkbox checkbox-inline i-checks">
                                            <label>
                                                <input type="checkbox" data-oper="gallary" value="0">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </th>
                            <th>编号</th>
                            <th>相册名称</th>
                            <th>封面</th>
                            <th>图片数量</th>
                            <th>排序</th>
                            <th>描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            onclick="$('#gallaryForm').resetForm();"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="addTitle">添加相册</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t" id="gallaryForm">
                        <input type="hidden" value="0" id="id" name="id">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red;">*</span>相册名称：</label>
                            <div class="col-sm-8">
                                <input id="name" name="name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">相册封面：</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="cover" name="cover" value="">
                                <input type="hidden" id="path" name="path" value="">
                                <div class="input-group">
                                    <p class="form-control-static">
                                        <img class="message-avatar" id="upload_img" src="/content/img/default.png"
                                             alt="">
                                    </p>
                                    <span class="input-group-btn">
                                        <label class="btn btn-primary" for="file">选择文件</label>
                                        <button class="btn btn-primary" type="button" id="btnUpload"
                                                style="margin-left: 10px;">上传</button>
                                    </span>
                                </div>
                                <span class="help-block m-b-none">只能上传jpg/png格式文件，文件不能超过50kb</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">相册描述：</label>
                            <div class="col-sm-8">
                                <textarea id="desp" name="desp" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">排序：</label>
                            <div class="col-sm-8">
                                <input id="sort" name="sort" type="text" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal"
                            onclick="$('#gallaryForm').resetForm();">关闭
                    </button>
                    <button type="button" id="btnSubmit" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="detailModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">相册详情</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t">
                        <div class="form-group">
                            <input type="hidden" value="0" id="gallery_id" name="gallery_id">
                            <label class="col-sm-3 control-label">图片：</label>
                            <div class="col-sm-8">
                                <input type="hidden" id="img_path" name="img_path" value="">
                                <div class="input-group">
                                    <p class="form-control-static">
                                        <img class="message-avatar" id="img_upload_img" src="/content/img/default.png"
                                             alt="">
                                    </p>
                                    <span class="input-group-btn">
                                        <label class="btn btn-primary" for="file">选择文件</label>
                                        <button class="btn btn-primary" type="button" id="btnUploadImg"
                                                style="margin-left: 10px;">上传</button>
                                    </span>
                                </div>
                                <span class="help-block m-b-none">只能上传jpg/png格式文件，文件不能超过50kb</span>
                            </div>
                        </div>
                    </form>
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="imgDataTable">
                        <thead>
                        <tr>
                            <th>图列1</th>
                            <th>图列2</th>
                            <th>图列3</th>
                            <th>图列4</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal inmodal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除相册</h4>
                </div>
                <div class="modal-body">
                    是否删除该相册
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭
                    </button>
                    <button type="button" id="btnConfirmDelete" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="deleteImgModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">删除图片</h4>
                </div>
                <div class="modal-body">
                    是否删除该图片
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭
                    </button>
                    <button type="button" id="btnDeleteImg" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal fade" id="turnImgModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">选择相册</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal m-t">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red;">*</span>相册名称：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="select_gallary">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">关闭
                    </button>
                    <button type="button" id="btnTurnImg" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <form id="uploadFile" method="post" action="/upload_file" style="display: none;" enctype="multipart/form-data">
        <input type="file" id="file" name="file" accept="image/*">
        <input type="hidden" name="key" value="gallary">
    </form>
    <script src="/content/js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- jQuery Validation plugin javascript-->
    <script src="/content/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="/content/js/plugins/validate/messages_zh.min.js"></script>
    <!-- jQuery Form plugin javascript-->
    <script src="/content/js/jquery.form.js"></script>

    <!-- iCheck -->
    <script src="/content/js/plugins/iCheck/icheck.min.js"></script>

    <script type="text/javascript">
        (function ($) {
            $.validator.setDefaults({
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function (element) {
                    element.closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                errorElement: "span",
                errorClass: "help-block m-b-none",
                validClass: "help-block m-b-none"
            });
            $.gallary = {
                init: function () {
                    var _self = this;
                    this.val();
                    this.getData();
                    $('#addGallary').off().on('click', function () {
                        _self.init_uploader();
                    });
                    this.init_uploader();
                    this.inin_select_gallary();
                    $('#btnSubmit').off().on('click', function () {
                        if (_self.val().form()) {
                            _self.submit();
                        }
                    });
                },
                inin_select_gallary: function () {
                    $.getJSON("/goods/all_gallary", {}, function (res) {
                        var html = [];
                        if (res.success) {
                            $(res.data).each(function () {
                                html.push('<option value="' + this.id + '">' + this.name + '</option>');
                            });
                        }
                        $('#select_gallary').html(html.join(''));
                    })
                },
                init_uploader: function () {
                    var _self = this;
                    $('#upload_img').file_upload({
                        file: "#file",
                        img: "#upload_img",
                        size: 50,
                        upload: "#btnUpload",
                        form: "#uploadFile",
                        success: function (res) {
                            if (res.success) {
                                toastr.success("文件上传", res.msg);
                                var data = res.data;
                                $('#cover').val(data.url);
                                $('#path').val(data.path);
                            } else {
                                toastr.error("文件上传", res.msg);
                            }
                        }
                    });
                },
                submit: function () {
                    var _self = this;
                    var data = $("#gallaryForm").formToObj();
                    var titel = "修改相册"
                    if (data.id == 0) {
                        titel = "添加相册"
                    }
                    $.request("/goods/save_gallary", data, function (res) {
                        if (res.success) {
                            if (_self.table) {
                                _self.table.ajax.reload();
                            }
                            _self.inin_select_gallary();
                            toastr.success(titel, res.msg);
                            $("#userForm").resetForm();
                            $('#addModal').modal('hide');
                        }
                        else {
                            toastr.error(titel, res.msg);
                        }
                    });
                },
                val: function () {
                    return $("#gallaryForm").validate({
                        rules: {
                            name: "required"
                        },
                        messages: {
                            name: "请输入相册名称"
                        }
                    });
                },
                table: "",
                getData: function () {
                    var _self = this;
                    var pageLength = $('#length').val();
                    this.table = $('#dataTable').DataTable({
                        serverSide: true,
                        searching: false,
                        ordering: false,
                        pageLength: pageLength,
                        pagingType: "full_numbers",
                        stateSave: true,
                        bLengthChange: false,
                        ajax: {
                            url: "/goods/gallary_data",
                            dataSrc: 'data'
                        },
                        columns: [
                            {
                                data: null,
                                render: function (data, type, row, meta) {
                                    var html = ' <div class="form-group"> <div class="col-sm-10"> <div class="checkbox checkbox-inline i-checks"> <label> <input type="checkbox" data-oper="gallary" value="0"> </label> </div> </div> </div>';
                                    return html;
                                }
                            },
                            {data: "id"},
                            {data: "name"},
                            {
                                data: "cover",
                                render: function (data, type, row, meta) {
                                    var url = '/content/img/default.png';
                                    if (row.cover) {
                                        url = row.cover;
                                    }
                                    return ' <img class="message-avatar" src="' + url + '" alt="">'
                                }
                            },
                            {data: "count"},
                            {data: "sort"},
                            {data: "desp"},
                            {
                                data: null,
                                render: function (data, type, row, meta) {
                                    var html = [];
                                    var json = encodeURIComponent(JSON.stringify(row));
                                    html.push('<a data-id="' + row.id + '" data-toggle="modal" data-target="#detailModal" data-oper="detail" href="#">查看</a>&nbsp;&nbsp;&nbsp;&nbsp;');
                                    html.push('<a data-id="' + row.id + '" data-toggle="modal" data-target="#addModal" data-json="' + json + '" data-oper="edit" href="#">编辑</a>&nbsp;&nbsp;&nbsp;')
                                    html.push('<a data-id="' + row.id + '" data-toggle="modal" data-target="#deleteModal" data-oper="delete" href="#">删除</a>');
                                    return html.join('');
                                }
                            }
                        ],
                        fnDrawCallback: function () {
                            $('.i-checks').iCheck({
                                handle: 'checkbox',
                                checkboxClass: 'icheckbox_square-green',
                                radioClass: 'iradio_square-green',
                            });

                            $('a[data-oper="detail"]').off().on('click', function () {
                                var id = $(this).data('id');
                                _self.detail(id);
                            });
                            $('a[data-oper="edit"]').off().on('click', function () {
                                var id = $(this).data('id');
                                var json = $(this).data('json');
                                _self.edit(id, json);
                            });
                            $('a[data-oper="delete"]').off().on('click', function () {
                                var id = $(this).data('id');
                                _self.delete(id);
                            });

                            $('#length').on('change', function () {
                                var index = $(this).val();
                                if (_self.table) {
                                    _self.table.page.len(index);
                                    _self.table.ajax.reload();
                                }
                            });
                        }
                    });
                },
                delete: function (id) {
                    var _self = this;
                    $('#btnConfirmDelete').off().on('click', function () {
                        $.request('/goods/delete_gallery', {id: id}, function (res) {
                            if (res.success) {
                                if (_self.table) {
                                    _self.table.ajax.reload();
                                }
                                _self.inin_select_gallary();
                                toastr.success("删除相册", res.msg);
                            }
                            else {
                                toastr.error("删除相册", res.msg);
                            }
                            $('#deleteModal').modal('hide');
                        });
                    });
                },
                imgDataTable: null,
                detail: function (id) {
                    var _self = this;
                    $('#img_upload_img').file_upload({
                        file: "#file",
                        img: "#img_upload_img",
                        size: 50,
                        upload: "#btnUploadImg",
                        form: "#uploadFile",
                        success: function (res) {
                            if (res.success) {
                                toastr.success("文件上传", res.msg);
                                $('#img_path').val(res.data.url);
                                var data = {
                                    gallery_id: $('#gallery_id').val(),
                                    path: res.data.url,
                                };
                                $.request('/goods/save_img', data, function (res) {
                                    _self.imgDataTable.ajax.reload();
                                });
                            } else {
                                toastr.error("文件上传", res.msg);
                            }
                        }
                    });
                    $('#gallery_id').val(id);
                    if (this.imgDataTable == null) {
                        this.imgDataTable = $('#imgDataTable').DataTable({
                            serverSide: true,
                            searching: false,
                            ordering: false,
                            pageLength: 16,
                            pagingType: "full_numbers",
                            stateSave: true,
                            bLengthChange: false,
                            ajax: {
                                url: "/goods/get_imgs",
                                dataSrc: 'data',
                                data: function (d) {
                                    var param = {};
                                    param.draw = d.draw;
                                    param.start = d.start;
                                    param.length = d.length;
                                    param.gallery_id = $('#gallery_id').val();
                                    return param;
                                }
                            },
                            columns: [
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.col[0]) {
                                            var url = '/content/img/default.png';
                                            var id = "";
                                            if (row.col[0].path) {
                                                url = row.col[0].path;
                                                id = row.col[0].id;
                                            }
                                            var html = '<img class="img_show" src="' + url + '" alt="">';
                                            if (id) {
                                                html += '<div>'
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#turnImgModal" data-oper="turn_img" href="#">转移相册</a>&nbsp;&nbsp;&nbsp;&nbsp;';
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#deleteImgModal" data-oper="del_img" href="#">删除图片</a>';
                                                html += '</div>';
                                            }
                                            return html;
                                        } else {
                                            return null;
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.col[1]) {
                                            var url = '/content/img/default.png';
                                            var id = "";
                                            if (row.col[1].path) {
                                                url = row.col[1].path;
                                                id = row.col[1].id;
                                            }
                                            var html = '<img class="img_show" src="' + url + '" alt="">';
                                            if (id) {
                                                html += '<div>'
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#turnImgModal" data-oper="turn_img" href="#">转移相册</a>&nbsp;&nbsp;&nbsp;&nbsp;';
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#deleteImgModal" data-oper="del_img" href="#">删除图片</a>';
                                                html += '</div>';
                                            }
                                            return html;
                                        } else {
                                            return null;
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.col[2]) {
                                            var url = '/content/img/default.png';
                                            var id = "";
                                            if (row.col[2].path) {
                                                url = row.col[2].path;
                                                id = row.col[2].id;
                                            }
                                            var html = '<img class="img_show" src="' + url + '" alt="">';
                                            if (id) {
                                                html += '<div>'
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#turnImgModal" data-oper="turn_img" href="#">转移相册</a>&nbsp;&nbsp;&nbsp;&nbsp;';
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#deleteImgModal" data-oper="del_img" href="#">删除图片</a>';
                                                html += '</div>';
                                            }
                                            return html;
                                        } else {
                                            return null;
                                        }
                                    }
                                },
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        if (row.col[3]) {
                                            var url = '/content/img/default.png';
                                            var id = "";
                                            if (row.col[3].path) {
                                                url = row.col[3].path;
                                                id = row.col[3].id;
                                            }
                                            var html = '<img class="img_show" src="' + url + '" alt="">';
                                            if (id) {
                                                html += '<div>'
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#turnImgModal" data-oper="turn_img" href="#">转移相册</a>&nbsp;&nbsp;&nbsp;&nbsp;';
                                                html += '<a data-id="' + id + '" data-toggle="modal" data-target="#deleteImgModal" data-oper="del_img" href="#">删除图片</a>';
                                                html += '</div>';
                                            }
                                            return html;
                                        } else {
                                            return null;
                                        }
                                    }
                                },
                            ],
                            fnDrawCallback: function () {
                                $('a[data-oper="turn_img"]').off().on('click', function () {
                                    var id = $(this).data('id');
                                    _self.turn_img(id);
                                });
                                $('a[data-oper="del_img"]').off().on('click', function () {
                                    var id = $(this).data('id');
                                    _self.del_img(id);
                                });
                            }
                        });
                    } else {
                        this.imgDataTable.ajax.reload();
                    }
                },
                edit: function (id, json) {
                    this.init_uploader();
                    var data = JSON.parse(decodeURIComponent(json));
                    $("#gallaryForm").ObjToForm(data);
                    $('#upload_img').attr('src', data.cover);
                    $('#addTitle').text('修改相册');
                },
                turn_img: function (id) {
                    var _self = this;
                    $('#btnTurnImg').off().on('click', function () {
                        $.request("/goods/turn_img", {id: id, gallery_id: $('#select_gallary').val()}, function (res) {
                            if (res.success) {
                                if (_self.imgDataTable) {
                                    _self.imgDataTable.ajax.reload();
                                }
                                toastr.success("图片转移", res.msg);
                            }
                            else {
                                toastr.error("图片转移", res.msg);
                            }
                            $('#turnImgModal').modal('hide');
                        })
                    });
                },
                del_img: function (id) {
                    var _self = this;
                    $('#btnDeleteImg').off().on('click', function () {
                        $.request("/goods/del_img", {id: id}, function (res) {
                            if (res.success) {
                                if (_self.imgDataTable) {
                                    _self.imgDataTable.ajax.reload();
                                }
                                toastr.success("图片删除", res.msg);
                            }
                            else {
                                toastr.error("图片删除", res.msg);
                            }
                            $('#deleteImgModal').modal('hide');
                        })
                    });
                },
            }
            $(function () {
                $.gallary.init();
            });
        })(jQuery)

    </script>
</div>